<!DOCTYPE html>
<html>

<br/>
<br/>
<br/>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Introduction menu -->
<nav class="w3-sidebar w3-collapse w3-white" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
  <!-- About Card -->
  <div class="w3-card-2 w3-margin w3-margin-top">
  <img src="http://3.bp.blogspot.com/-EROYKrokrAo/U4q27LQdeOI/AAAAAAAAMSk/337kJXgY-B4/s1600/Flying-House-Up-Wallpaper-Movie.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>旅行中的灵感收集器</b></h4>
      <p>游记是最珍贵的记忆资产！
        告别这个时代的浮躁，回归自然；
        向那些用纸笔记录的年代致敬，开启旅星人游记的新纪元！
        旅行趣闻，结伴故事，偶得的诗句，统统记录到这里！
      </p>
    </div>
  </div><hr>

  <!-- Posts -->
  <div class="w3-card-2 w3-margin">
    <div class="w3-container w3-padding" style="background-color:#eee">
      <h4>推荐游记</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <%= link_to "notes/2" do %>
          <img src="http://oqjdhoq9e.bkt.clouddn.com/%E8%8D%94%E6%B3%A2.jpg" alt="Image" class="w3-left w3-margin-right" style="width:60px;height:50px;">
        <% end %>
        <span><b>荔波</b></span><br>
        <span>古朴、神奇、多姿</span>
      </li>
      <li class="w3-padding-16">
        <%= link_to "notes/1" do %>
         <img src="http://oqjdhoq9e.bkt.clouddn.com/%E6%9D%AD%E5%B7%9E.jpg" alt="Image" class="w3-left w3-margin-right" style="width:60px;height:50px;">
        <% end %>
        <span><b>杭州</b></span><br>
        <span>烟花三月下江南</span>
      </li>
    </ul>
  </div>
</div>
</nav>
  <hr>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
      <br>
      <h1><b>听旅星人说</b></h1>
      <div class="group">
        <%= link_to("分享旅途点滴", new_note_path, class: "btn btn-orange pull-right") %>
      </div>
      <div class="w3-section w3-bottombar w3-padding-16">
      </div>
    </div>
  </header>


  <!-- 游记内容  -->
  <div class="w3-row-padding">
    <% @notes.each do |note| %>
    <div class="w3-third w3-container w3-margin-bottom w3-hover-shadow">
      <%= link_to note_path(note) do %>
        <% if note.notephotos.present? %>
          <%= image_tag(note.notephotos[0].img.url, class: "w3-hover-opacity", alt: "Norway", style:"width:100%;height:250px;") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <div class="w3-container w3-white">
        <br/>
        <p><b><%= note.foreword %></b></p>
        <p class="w3-text-grey">
          来自<%= note.user.email %></a> &nbsp;&nbsp;    <em><%= time_ago_in_words(note.created_at) %>前</em>
        </p>
        <p><%= note.introduction %></p>
      </div>
    </div>
    <% end %>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <div class="w3-black w3-center w3-padding-24">Powered by <a href="" title="KC" target="_blank" class="w3-hover-opacity">K&C</a></div>

<!-- End page content -->
</div>

</body>
</html>
