<div class="col-md-12">
  <h2><%= @note.foreword %></h2>
  <p><%= @note.introduction %></p>
  <hr>
  <h3><%= @note.title1 %></h3>
  <p><%= @note.description1 %></p>
  img
  <h3><%= @note.title2 %></h3>
  <p><%= @note.description2 %></p>
  img
  <h3><%= @note.title3 %></h3>
  <p><%= @note.description3 %></p>
</div>
