
 <div class="row box">
 <div class="box-inner col-md-6 col-md-offset-3">
 <h1 class="title">A World of Endless Travel Possibilities</h1>
 <p class="slogan">TAKE YOUR NEXT TRIP
 <br>
 WITH 寻踏水的痕迹

 </p>
 <p class="lead">
 <%= link_to 'get a touch', products_path, class: 'btn btn-danger' %>
 </p>
 </div>
 </div>



<section id="company">
  <div class = "container-fluid">
    <div class="row">
          <div class="cl-md-12">
        <div class="thumbnail">
          <div align="center"><img  src="https://static.wixstatic.com/media/bcaa0fd80af44e97a954b67710669caf.jpg" alt="heart" class = "img-thumbnail"></div>
          <div class="caption">
            <p class="font_7" style="text-align:left; line-height:1.46em;">
              <span class="color_15">Travel Agents Do It Better</span></p>
              <h2 class="font_2" style="text-align:left; line-height:1.25em;">
                <span class="color_15">
                  <span style="text-transform:uppercase;">WHO WE ARE AND WHAT WE DO</span>
              </span>
            </h2>
            <h3>Everyone has different approaches and priorities when it comes to travel planning. The team members at 寻踏水的痕迹 have various areas of expertise in order to cover all of our clients’ travel needs. Whether you’re planning an upcoming trip for work or leisure, we make the booking process easy and enjoyable. Call us today and start traveling!</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<div class="jumbotron">
   <h4 class="title"><span class="color_11"></span>&emsp;</h4>
    <!-- <p class="slogan"><span style="text-transform:uppercase;"></span> -->

    <br>
     <!-- WITH 寻踏水的痕迹 -->
    <br>
    </p>

         <!-- <p class="lead">
           <%= link_to '马上应征', products_path, class: 'btn btn-danger' %>
         </p> -->
 </div>




<br>
<br>
<br>
<br>





                  <div class="content-section-a">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-5 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading"><a href="products/6"target=_new>GLACIER TOUR</a></h2>
                            <p class="lead">$550</p>


                          </div>
                          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <%= image_tag 'https://static.wixstatic.com/media/1f07f07c5c64ce8093bc4513e3d5d641.jpg', class: 'img-responsive' %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="content-section-b">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading"><a href="products/5"target=_new>SNORKELING & SAILING TOUR</a></h2>
                            <p class="lead">$2500</p>
                          </div>
                          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                            <%= image_tag 'https://static.wixstatic.com/media/e0ef92a0b02fa5e0b2009007ae15f52f.jpg', class: 'img-responsive' %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="content-section-a">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-5 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading"><a href="products/7"target=_new>SPEEDBOAT ADVENTURE</a></h2>
                            <p class="lead">$1000</p>
                          </div>
                          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <%= image_tag 'https://static.wixstatic.com/media/e730555e5825356d89a1b54e8fcb1e4f.jpg', class: 'img-responsive' %>
                          </div>
                        </div>
                      </div>
                    </div>
<br>
<br>
<br>
