
 <div class="row box">
 <div class="box-inner col-md-6 col-md-offset-3">


 <h1 class="title"><p class="font_0">A World of Endless Travel Possibilities</p></h1>
 <h4 class="slogan"><p class="font_4">This Trip<br>寻踏水的痕迹</p>

 </h4>
 <p class="lead">
 <%= link_to '', products_path, class: 'btn btn-' %>
 </p>
 </div>
 </div>



<section id="company">
  <div class = "container-fluid">
    <div class="row">
          <div class="cl-md-12">
        <div class="xingshi">
          <div align="center"><img  src="https://static.wixstatic.com/media/bcaa0fd80af44e97a954b67710669caf.jpg" alt="heart" class = "img-thumbnail"></div>
          <div class="caption">
            <p class="font_7" style="text-align:left; line-height:1.46em;">
              <span class="color_15">Travel Agents Do It Better</span></p>
              <h2 class="font_2" style="text-align:left; line-height:1.25em;">
                <span class="color_15">
                  <span style="text-transform:uppercase;">WHO WE ARE AND WHAT WE DO</span>
              </span>
            </h2>
            <h3>Everyone has different approaches and priorities when it comes to travel planning. The team members at here have various areas of expertise in order to cover all of our clients’ travel needs. Whether you’re planning an upcoming trip for work or leisure, we make the booking process easy and enjoyable. Call us today and start traveling!</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<div class="jumbotron">
   <h4 class="title"><span class="color_11"></span>&emsp;</h4>
    <!-- <p class="slogan"><span style="text-transform:uppercase;"></span> -->

    <br>
     <!-- WITH 寻踏水的痕迹 -->
    <br>
    <br>
    <br>
    </p>

         <!-- <p class="lead">
           <%= link_to '马上应征', products_path, class: 'btn btn-danger' %>
         </p> -->
 </div>




<br>
<br>
<br>
<br>





                  <div class="content-section-a">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-5 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading"><a href="products/5"target=_new>茶卡盐湖</a></h2>
                            <p class="lead">￥ 20000</p>


                          </div>
                          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <%= image_tag 'http://travel.qunar.com/bbs/data/attachment/forum/201606/14/144303zwmf37pi3r72dj70.jpg', class: 'img-responsive' %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="content-section-b">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading"><a href="products/7"target=_new>抚仙湖</a></h2>
                            <p class="lead">￥ 25000</p>
                          </div>
                          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                            <%= image_tag 'http://en.kangbatv.com/sp_22771/jlp/201704/W020170405582533720512.jpg', class: 'img-responsive' %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="content-section-a">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-5 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading"><a href="products/8"target=_new>威尼斯</a></h2>
                            <p class="lead">￥ 50000</p>
                          </div>
                          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <%= image_tag 'http://3.bp.blogspot.com/-SNwXK4UC1MQ/Vk0A0SxHoyI/AAAAAAAAoPg/usGKtbMy3UE/s1600/onde-ficar-veneza-regioes-san-marco.jpg', class: 'img-responsive' %>
                          </div>
                        </div>
                      </div>
                    </div>
<br>
<br>
<br>
