<div class="welcome-box">
<section class="intro-box">
    <div class="row">
      <div class="col-md-12">
        <div id="intro" class="carousel slide" data-ride="carousel">
          <!--===== 轮播按钮 =====-->
          <!-- <ol class="carousel-indicators">
            <li data-target="#intro" data-slide-to="0" class="active"></li>
            <li data-target="#intro" data-slide-to="1"></li>
            <li data-target="#intro" data-slide-to="2"></li>
          </ol> -->

          <!--===== 轮播内容 =====-->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= link_to 'products', target: "_blank" do %> <!-- 图片连结，点击另开视窗 -->
                <%= image_tag("https://ws3.sinaimg.cn/large/006tNbRwgy1fgd1xukrznj315o0rs1kx.jpg") %> <!-- 图片位置 -->
                <div class="carousel-caption">
                  <h3>启程</h3> <!-- 标题 -->
                  <p></p> <!-- 内文 -->
                </div>
              <% end %>
            </div>
            <div class="item">
              <%= link_to '#', target: "_blank" do %>
                <%= image_tag("https://ws3.sinaimg.cn/large/006tNbRwgy1fgbw6h7mgsj31hc0hswq0.jpg") %>
                <div class="carousel-caption">
                  <h3>在路上</h3>
                  <p>旅人永远青春18</p>
                </div>
              <% end %>
            </div>
            <div class="item">
              <%= link_to '#', target: "_blank" do %>
                <%= image_tag("https://ws4.sinaimg.cn/large/006tNbRwgy1fgbrsx7zvdj31hc0hsdi7.jpg") %>
                <div class="carousel-caption">
                  <h3>最美不过去旅行</h3>
                  <p>生命应该浪费在美好的事物上</p>
                </div>
              <% end %>
            </div>
          </div>

          <!--===== 换页按钮 =====-->
          <a class="left carousel-control" href="#intro" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#intro" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- 双线 -->
<div class="wrap1200  bodycontent borderbox UniviaProFont ">

<div class="titlebox clearfix">
		<div>
			<div class="line"></div>
		</div>
		<div class="text borderbox">
		     在路上		</div>
		<div>
			<div class="line"></div>
		</div>
	</div>

<!-- 图片 -->

<div class="img-area borderbox">
		<div class="top clearfix">
			<div class="left">
			     				<a target="_blank" class="projustlink" href="#">
					<img class="all_image_css" src="http://7xtfq0.com1.z0.glb.clouddn.com/website_1OKpLmFUT73Kot2gB2vinhpJOJl34EXu.jpg?imageView2/1/w/545/h/430/q/85">
				</a>
							</div>
			<div class="right">
			 				<div>
					<a target="_blank" class="projustlink icons3 " href="#">
						<img class="all_image_css" src="https://ws2.sinaimg.cn/large/006tNbRwgy1fgd29659c6j31kw0er7or.jpg">
					</a>
				</div>
				<div>
					<a target="_blank" class="projustlink icons3 " href="#">
						<img class="all_image_css" src="https://pic.qyer.com/public/lastminute/topic/2017/01/13/14842904405001/980x345">
					</a>
				</div>
							</div>
		</div>
		<div class="bottom clearfix">
					<div class="">
				<a target="_blank" class="projustlink" href="#">
					<img class="all_image_css" src="https://static.wixstatic.com/media/bcaa0fd80af44e97a954b67710669caf.jpg">
				</a>
			</div>
						<div class="centen">
				<a target="_blank" class="projustlink" href="#">
					<img class="all_image_css" src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgd2y8iuvwj30bo07sjrx.jpg">
				</a>
			</div>
						<div class="last">
				<a target="_blank" class="projustlink" href="#">
					<img class="all_image_css" src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgd1xukrznj315o0rs1kx.jpg">
				</a>
			</div>

		</div>
	</div>



  <div class="titlebox clearfix titlebox-sigin">
  		<div class="left borderbox">
  			<div class="line"></div>
  		</div>
  		<div class="text borderbox">
  			旅星人说
  		</div>
  		<div class="right borderbox">
  			<div class="line">
  				<div class="more"> <a href="#">More + </a></div>
  			</div>
  		</div>
  	</div>



<!-- 旅行人说 -->




<div class="swiper-wrapper yuebanindex">
                                    <div class="swiper-slide item swiper-slide-active" style="width: 288.5px; margin-right: 37px;">
                     <a href="http://www.yueban.cn/index.php?r=home/Yueyou/detail&amp;yueban_id=7134">
                        <div class="item-body">
                          <div class="item-body-top">
                                                        <img src="http://www.yueban.cn/upload/2017-06/08/77f93bf420067703f226330ca425e73b.jpg" width="100%">
                          </div>
                          <div class="item-body-bot claer">
                            <div class="head">
                              <img src="http://www.yueban.cn/upload/2017-04/21/b18f8708224b113f3abfafb4493d376f.jpg" width="100%">
                            </div>
                            <div class="names">
                              <span class="name">许可欣</span><span class="sex man">♀&nbsp;19</span>
                            </div>
                            <div class="tips">
                              <span class="tip">学生</span>
                            </div>
                            <div class="intro">
                              <span>芜湖晚上一起蹦迪的私我</span>
                            </div>
                            <div class="postion">
                              <span><svg t="1484527284889" class="icon" style="fill: #999;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5843" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"><defs><style type="text/css"></style></defs><path d="M511.999997 1024l-10.971429-14.628571c-14.628571-18.285714-365.714286-427.885714-365.714286-632.685714 0-208.457143 168.228571-376.685714 376.685714-376.685714s376.685714 168.228571 376.685714 376.685714c0 204.8-351.085714 614.4-365.714286 632.685714L511.999997 1024zM511.999997 29.257143c-190.171429 0-347.428571 157.257143-347.428571 347.428571 0 171.885714 285.257143 522.971429 347.428571 599.771429 62.171429-73.142857 347.428571-427.885714 347.428571-599.771429C859.428568 186.514286 705.828568 29.257143 511.999997 29.257143z" p-id="5844"></path><path d="M511.999997 530.285714c-84.114286 0-157.257143-69.485714-157.257143-157.257143s69.485714-157.257143 157.257143-157.257143c84.114286 0 157.257143 69.485714 157.257143 157.257143C669.257139 460.8 599.771425 530.285714 511.999997 530.285714zM511.999997 252.342857c-69.485714 0-124.342857 54.857143-124.342857 124.342857 0 69.485714 54.857143 124.342857 124.342857 124.342857 69.485714 0 124.342857-54.857143 124.342857-124.342857C636.342854 307.2 581.485711 252.342857 511.999997 252.342857z" p-id="5845"></path></svg></span>
                              <span>湖北省武汉市</span>
                            </div>
                          </div>
                        </div>
                      </a>


                  </div>
                                    <div class="swiper-slide item swiper-slide-next" style="width: 288.5px; margin-right: 37px;">
                     <a href="/index.php?r=home/Yueyou/detail&amp;yueban_id=7133">
                        <div class="item-body">
                          <div class="item-body-top">
                                                        <img src="/upload/2017-06/08/efabea4f73aae19c44705bb16097ddbf.jpg" width="100%">
                          </div>
                          <div class="item-body-bot claer">
                            <div class="head">
                              <img src="/upload/2017-06/07/8f59f04998e3a2000e09a5c74e4a27fe.jpg" width="100%">
                            </div>
                            <div class="names">
                              <span class="name">大静</span><span class="sex man">♀&nbsp;20</span>
                            </div>
                            <div class="tips">
                              <span class="tip">网络红人</span>
                            </div>
                            <div class="intro">
                              <span>一对一裸聊需要的加微信；dajingmm55</span>
                            </div>
                            <div class="postion">
                              <span><svg t="1484527284889" class="icon" style="fill: #999;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5843" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"><defs><style type="text/css"></style></defs><path d="M511.999997 1024l-10.971429-14.628571c-14.628571-18.285714-365.714286-427.885714-365.714286-632.685714 0-208.457143 168.228571-376.685714 376.685714-376.685714s376.685714 168.228571 376.685714 376.685714c0 204.8-351.085714 614.4-365.714286 632.685714L511.999997 1024zM511.999997 29.257143c-190.171429 0-347.428571 157.257143-347.428571 347.428571 0 171.885714 285.257143 522.971429 347.428571 599.771429 62.171429-73.142857 347.428571-427.885714 347.428571-599.771429C859.428568 186.514286 705.828568 29.257143 511.999997 29.257143z" p-id="5844"></path><path d="M511.999997 530.285714c-84.114286 0-157.257143-69.485714-157.257143-157.257143s69.485714-157.257143 157.257143-157.257143c84.114286 0 157.257143 69.485714 157.257143 157.257143C669.257139 460.8 599.771425 530.285714 511.999997 530.285714zM511.999997 252.342857c-69.485714 0-124.342857 54.857143-124.342857 124.342857 0 69.485714 54.857143 124.342857 124.342857 124.342857 69.485714 0 124.342857-54.857143 124.342857-124.342857C636.342854 307.2 581.485711 252.342857 511.999997 252.342857z" p-id="5845"></path></svg></span>
                              <span>南京市</span>
                            </div>
                          </div>
                        </div>
                      </a>


                  </div>
                                    <div class="swiper-slide item" style="width: 288.5px; margin-right: 37px;">
                     <a href="/index.php?r=home/Yueyou/detail&amp;yueban_id=7132">
                        <div class="item-body">
                          <div class="item-body-top">
                                                        <img src="/upload/2017-06/08/81235e73b127e72572576e2efd9682c4." width="100%">
                          </div>
                          <div class="item-body-bot claer">
                            <div class="head">
                              <img src="/upload/2017-06/08/6c06116e3dafc0c574dfa4c866ab990a." width="100%">
                            </div>
                            <div class="names">
                              <span class="name">尴尬症患者</span><span class="sex man">♂&nbsp;0</span>
                            </div>
                            <div class="tips">
                              <span class="tip">公务员</span>
                            </div>
                            <div class="intro">
                              <span>朋友都在上班，家人也有事，自己刚好有空余时间去，就是没有约伴，过去总不能一个人吃火锅吧，那就很尴尬了，所以想找个伴一起，具体行程安排应该有三四天，除了吃喝，还要去看看国宝。有没有人愿意去的</span>
                            </div>
                            <div class="postion">
                              <span><svg t="1484527284889" class="icon" style="fill: #999;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5843" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"><defs><style type="text/css"></style></defs><path d="M511.999997 1024l-10.971429-14.628571c-14.628571-18.285714-365.714286-427.885714-365.714286-632.685714 0-208.457143 168.228571-376.685714 376.685714-376.685714s376.685714 168.228571 376.685714 376.685714c0 204.8-351.085714 614.4-365.714286 632.685714L511.999997 1024zM511.999997 29.257143c-190.171429 0-347.428571 157.257143-347.428571 347.428571 0 171.885714 285.257143 522.971429 347.428571 599.771429 62.171429-73.142857 347.428571-427.885714 347.428571-599.771429C859.428568 186.514286 705.828568 29.257143 511.999997 29.257143z" p-id="5844"></path><path d="M511.999997 530.285714c-84.114286 0-157.257143-69.485714-157.257143-157.257143s69.485714-157.257143 157.257143-157.257143c84.114286 0 157.257143 69.485714 157.257143 157.257143C669.257139 460.8 599.771425 530.285714 511.999997 530.285714zM511.999997 252.342857c-69.485714 0-124.342857 54.857143-124.342857 124.342857 0 69.485714 54.857143 124.342857 124.342857 124.342857 69.485714 0 124.342857-54.857143 124.342857-124.342857C636.342854 307.2 581.485711 252.342857 511.999997 252.342857z" p-id="5845"></path></svg></span>
                              <span>铭博达·南海明珠</span>
                            </div>
                          </div>
                        </div>
                      </a>


                  </div>
                                    <div class="swiper-slide item" style="width: 288.5px; margin-right: 37px;">
                     <a href="/index.php?r=home/Yueyou/detail&amp;yueban_id=7131">
                        <div class="item-body">
                          <div class="item-body-top">
                                                        <img src="/upload/2017-06/08/9e41678bcb51a11cb09c2e0a10282327." width="100%">
                          </div>
                          <div class="item-body-bot claer">
                            <div class="head">
                              <img src="/upload/2017-06/08/732c0a02c1ec1f0ebf7656ee7d593d9b." width="100%">
                            </div>
                            <div class="names">
                              <span class="name">夏至未至</span><span class="sex man">♂&nbsp;0</span>
                            </div>
                            <div class="tips">
                              <span class="tip">高级白领</span>
                            </div>
                            <div class="intro">
                              <span>野三坡两日游，6月17北京出发，18日上午顺便参加野三坡半程马拉松(6公里健康跑)，其余时间游玩景区</span>
                            </div>
                            <div class="postion">
                              <span><svg t="1484527284889" class="icon" style="fill: #999;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5843" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"><defs><style type="text/css"></style></defs><path d="M511.999997 1024l-10.971429-14.628571c-14.628571-18.285714-365.714286-427.885714-365.714286-632.685714 0-208.457143 168.228571-376.685714 376.685714-376.685714s376.685714 168.228571 376.685714 376.685714c0 204.8-351.085714 614.4-365.714286 632.685714L511.999997 1024zM511.999997 29.257143c-190.171429 0-347.428571 157.257143-347.428571 347.428571 0 171.885714 285.257143 522.971429 347.428571 599.771429 62.171429-73.142857 347.428571-427.885714 347.428571-599.771429C859.428568 186.514286 705.828568 29.257143 511.999997 29.257143z" p-id="5844"></path><path d="M511.999997 530.285714c-84.114286 0-157.257143-69.485714-157.257143-157.257143s69.485714-157.257143 157.257143-157.257143c84.114286 0 157.257143 69.485714 157.257143 157.257143C669.257139 460.8 599.771425 530.285714 511.999997 530.285714zM511.999997 252.342857c-69.485714 0-124.342857 54.857143-124.342857 124.342857 0 69.485714 54.857143 124.342857 124.342857 124.342857 69.485714 0 124.342857-54.857143 124.342857-124.342857C636.342854 307.2 581.485711 252.342857 511.999997 252.342857z" p-id="5845"></path></svg></span>
                              <span>世纪村</span>
                            </div>
                          </div>
                        </div>
                      </a>


                  </div>
                                    <div class="swiper-slide item" style="width: 288.5px; margin-right: 37px;">
                     <a href="/index.php?r=home/Yueyou/detail&amp;yueban_id=7130">
                        <div class="item-body">
                          <div class="item-body-top">
                                                        <img src="/upload/2017-06/08/392eb8a4f18536abf30832c9a5fb3964.jpg" width="100%">
                          </div>
                          <div class="item-body-bot claer">
                            <div class="head">
                              <img src="/upload/2017-05/04/6ad288108f85c30fdf20ba28fdfc0556.jpg" width="100%">
                            </div>
                            <div class="names">
                              <span class="name">北鼻🍃北鼻</span><span class="sex man">♀&nbsp;0</span>
                            </div>
                            <div class="tips">
                              <span class="tip">白富美</span>
                            </div>
                            <div class="intro">
                              <span>旅行，就是去不同的地方，然后带着不同的自己回来，继续过以前的生活，也许，自己的生活就这样渐渐地与之前不大相同吧，决定去云南，看看美丽的丽江古城，香格里拉，大理，洱海，等等有名的地方，十天左右，想找些伙伴一起，旅行的路上才更有意义，同行的加微信联系zheng1413025

</span>
                            </div>
                            <div class="postion">
                              <span><svg t="1484527284889" class="icon" style="fill: #999;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5843" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"><defs><style type="text/css"></style></defs><path d="M511.999997 1024l-10.971429-14.628571c-14.628571-18.285714-365.714286-427.885714-365.714286-632.685714 0-208.457143 168.228571-376.685714 376.685714-376.685714s376.685714 168.228571 376.685714 376.685714c0 204.8-351.085714 614.4-365.714286 632.685714L511.999997 1024zM511.999997 29.257143c-190.171429 0-347.428571 157.257143-347.428571 347.428571 0 171.885714 285.257143 522.971429 347.428571 599.771429 62.171429-73.142857 347.428571-427.885714 347.428571-599.771429C859.428568 186.514286 705.828568 29.257143 511.999997 29.257143z" p-id="5844"></path><path d="M511.999997 530.285714c-84.114286 0-157.257143-69.485714-157.257143-157.257143s69.485714-157.257143 157.257143-157.257143c84.114286 0 157.257143 69.485714 157.257143 157.257143C669.257139 460.8 599.771425 530.285714 511.999997 530.285714zM511.999997 252.342857c-69.485714 0-124.342857 54.857143-124.342857 124.342857 0 69.485714 54.857143 124.342857 124.342857 124.342857 69.485714 0 124.342857-54.857143 124.342857-124.342857C636.342854 307.2 581.485711 252.342857 511.999997 252.342857z" p-id="5845"></path></svg></span>
                              <span>宁波市</span>
                            </div>
                          </div>
                        </div>
                      </a>


                  </div>

              </div>


<!-- <div class="clearfix projust-list">

		   <a target="_blank" href="http://jne.qyer.com/content/15.html" class="projustlink">
			<img class="all_image_css" src="https://ws4.sinaimg.cn/large/006tNbRwgy1fgd1a547rvj30bo07sq3b.jpg">
			<h5>帆船体验</h5>
		</a>
        	   <a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MzAxODYxNDgyOA==&amp;mid=208194238&amp;idx=1&amp;sn=e91ca6bbc7535960495e17d6fcdaabd9&amp;scene=1&amp;srcid=0428Fn2wB9uP74He7FSYRnfP&amp;key=b28b03434249256b05cef9bff93bb63bcf4fcdbbe832d937b2ac06f0a2ac1d4056e0882edec36ffcd183a482c6c119d3&amp;ascene=0&amp;uin=MjIyMDk3MTU%3D&amp;devicetype=iMac+MacBookAir5%2C2+OSX+OSX+10.11.4+build(15E65)&amp;version=11020201&amp;pass_ticket=vRBhxmvdlmQIemH%2BRDZJYztNizea80UL3BufUa3WIPg%3D" class="projustlink">
			<img class="all_image_css" src="https://ws4.sinaimg.cn/large/006tNbRwgy1fgd1x622s5j30bo07sahq.jpg">
			<h5>翡翠潭温泉</h5>
		</a>
        	   <a target="_blank" href="http://jne.qyer.com/content/13.html" class="projustlink">
			<img class="all_image_css" src="https://ws2.sinaimg.cn/large/006tNbRwgy1fgd1y3uuyfj30bo07st91.jpg">
			<h5>冲浪体验</h5>
		</a>
        	</div> -->


<br/>
<br/>





<div class="clearfix projust-list">
			   <a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MzA3OTI1NzEyMg==&amp;mid=2247483679&amp;idx=1&amp;sn=28576b4bebb8f7904d98bb7070d2a0d4&amp;scene=1&amp;srcid=0514AE2AgY8FV8EAxPuTxP8h&amp;key=b28b03434249256b943100a03605ffdf7211ae0325f71dc7139963e1457a5d112517b3c06886277ed4bc5725fcf6baf0&amp;ascene=0&amp;uin=MjIyMDk3MTU%3D&amp;devicetype=iMac+MacBookAir5%2C2+OSX+OSX+10.11.4+build(15E65)&amp;version=11020201&amp;pass_ticket=vRBhxmvdlmQIemH%2BRDZJYztNizea80UL3BufUa3WIPg%3D" class="projustlink">
			<img class="all_image_css" src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgd0txuuvij30bo07sjry.jpg">
			<h5>海上飞滑翔伞</h5>
		</a>
        	   <a target="_blank" href="http://jne.qyer.com/mall/index.php?route=common/home" class="projustlink">
			<img class="all_image_css" src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgd253dm1rj30h80b9wh2.jpg">
			<h5>皮划艇探险</h5>
		</a>
        	   <a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MTc2MTIzOTg4MQ==&amp;mid=2652236689&amp;idx=1&amp;sn=31f8f621ff8c79de1249b789afab2187&amp;scene=1&amp;srcid=0511Qq2J19cS9mVpogM6kQnm&amp;key=b28b03434249256be1ff2fbdf94fbffaf630e8f773b99e165ad60db3f5bdd2d85b5ea777b45e31ba6f3e28ddd357e19f&amp;ascene=0&amp;uin=MjIyMDk3MTU%3D&amp;devicetype=iMac+MacBookAir5%2C2+OSX+OSX+10.11.4+build(15E65)&amp;version=11020201&amp;pass_ticket=Rkn5wYSNRB%2B11DmHuhmCXtOJiLjU%2FytjQqAEoPkzB0s%3D" class="projustlink">
			<img class="all_image_css" src="https://ws3.sinaimg.cn/large/006tNbRwgy1fgd1jmebbuj30bo07smxb.jpg">
			<h5>水上浮潜</h5>
		</a>
        	</div>

</div>








<!--
 <div class="row box">
 <div class="box-inner col-md-6 col-md-offset-3">


 <h1 class="title"><p class="font_0">A World of Endless Travel Possibilities</p></h1>
 <h4 class="slogan"><p class="font_4">This Trip<br>寻踏水的痕迹</p>

 </h4>
 <p class="lead">
 <%= link_to '' , products_path, class: 'btn btn-' %>
 </p>
 </div>
 </div>



<section id="company">
  <div class = "container-fluid">
    <div class="row">
          <div class="cl-md-12">
        <div class="xingshi">
          <div align="center"><img  src="https://static.wixstatic.com/media/bcaa0fd80af44e97a954b67710669caf.jpg" alt="heart" class = "img-thumbnail"></div>
          <div class="caption">
            <p class="font_7" style="text-align:left; line-height:1.46em;">
              <span class="color_15">Travel Agents Do It Better</span></p>
              <h2 class="font_2" style="text-align:left; line-height:1.25em;">
                <span class="color_15">
                  <span style="text-transform:uppercase;">WHO WE ARE AND WHAT WE DO</span>
              </span>
            </h2>
            <h3>Everyone has different approaches and priorities when it comes to travel planning. The team members at here have various areas of expertise in order to cover all of our clients’ travel needs. Whether you’re planning an upcoming trip for work or leisure, we make the booking process easy and enjoyable. Call us today and start traveling!</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->




<!-- <div class="jumbotron">
   <h4 class="title"><span class="color_11"></span>&emsp;</h4>
    <! <p class="slogan"><span style="text-transform:uppercase;"></span> -->


     <!-- WITH 寻踏水的痕迹 -->

    <!-- </p> -->

         <!-- <p class="lead">
           <%= link_to '马上应征', products_path, class: 'btn btn-danger' %>
         </p> -->
 <!-- </div> -->


<!--
                  <div class="content-section-a">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-5 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading"><a href="products/5"target=_new >茶卡盐湖</a></h2>
                            <p class="lead">5日•自由行</p>


                          </div>
                          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <%= image_tag 'http://oqjdhoq9e.bkt.clouddn.com/%E8%8C%B6%E5%8D%A1%E7%9B%90%E6%B9%962.jpg', class: 'img-responsive' %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="content-section-b">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading"><a href="products/3"target=_new >普吉岛</a></h2>
                            <p class="lead">8日•奢华游</p>
                          </div>
                          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                            <%= image_tag 'http://oqjdhoq9e.bkt.clouddn.com/%E6%99%AE%E5%90%89%E5%B2%9B1.jpg', class: 'img-responsive' %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="content-section-a">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-5 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading"><a href="products/9"target=_new >阿马尔菲</a></h2>
                            <p class="lead">3日•休闲游</p>
                          </div>
                          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <%= image_tag 'http://oqjdhoq9e.bkt.clouddn.com/%E9%98%BF%E9%A9%AC%E5%B0%94%E8%8F%B24.1.png', class: 'img-responsive' %>
                          </div>
                        </div>
                      </div>
                    </div>
<br> -->
<br>
<br>

<!-- <script>
     $(document).ready(function(){
        $(".navbar-fixed-top").css("background-color", "transparent");
        $(".navbar-fixed-top").css("border-color", "transparent");
     $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
          $(".navbar-fixed-top").css("background-color", "rgba(0,0,0,0.3)");
        } else {
          $(".navbar-fixed-top").css("background-color", "transparent");
        }
      });
     });
   </script> -->

   <!--===== 热门旅行 =====-->

     <section class="brand-box">
     <div class="row">
       <div class="col-md-10 col-md-offset-1">
         <!-- <h2>热门旅行</h2>  -->
         <div class="short-line"></div> <!-- 分隔线 -->
            <!-- <ul  class="list-unstyled">
                  <li>
                    <a href="products/4">10晚波罗的海巡游</a><span>|</span>
                    <a href="/index.php?r=home/Product_theme/index&amp;product_id=158">7晚巴黎-诺曼底巡游</a><span>|</span>
                    <a href="/index.php?r=home/Product_theme/index&amp;product_id=157">7晚梦幻塔希提岛巡游</a><span>|</span>
                    <a href="/index.php?r=home/Product_theme/index&amp;product_id=156">7晚阿拉斯加沙耶冰河之旅</a><span>|</span>
                    <a href="/index.php?r=home/Product_theme/index&amp;product_id=155">南加勒比航线 圣胡安往返 8天7晚之旅</a><span>|</span>
                    <a href="/index.php?r=home/Product_theme/index&amp;product_id=154">7晚迷人杜罗河巡游</a>

                  </li>
                  <li>
                    <a href="/index.php?r=home/Product_freedom/index&amp;freedom_id=61">东京一地2+4半自助游</a><span>|</span>
                    <a href="/index.php?r=home/Product_freedom/index&amp;freedom_id=59">香港澳门5日纯游玩</a><span>|</span>
                    <a href="/index.php?r=home/Product_freedom/index&amp;freedom_id=58">马来西亚5日休闲之旅</a><span>|</span>
                    <a href="/index.php?r=home/Product_freedom/index&amp;freedom_id=57">独墅泰传奇4晚6日</a><span>|</span>
                    <a href="/index.php?r=home/Product_freedom/index&amp;freedom_id=56">土耳其特洛伊卡帕多奇亚10日</a><span>|</span>
                    <br/>
                    <a href="/index.php?r=home/Product_freedom/index&amp;freedom_id=45">英国一地9天半自由行</a><span>|</span>
                    <a href="/index.php?r=home/Product_freedom/index&amp;freedom_id=32">澳大利亚墨尔本9日自由行</a>
                  </li> -->
          </ul>
      </div>
     </div>
   </section>



<!-- <div class="swiper-wrapper">
<div class="swiper-slide swiper-slide-active" style="width: 348px; margin-right: 35px;">
   <a class="item">
                  <div class="image">
                    <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1ffw8xarwhxj30zk0nqqa6.jpg" title="私人旅行规划师" alt="私人旅行规划师">
                    <div>
                      <div>“我是一个好玩的人和爱玩的人，多年游走了许多地方。旅行，就是送给自己的完美自传。我向您传递的不只是一个概念，更是一种身心灵的价值主张。我就是您的私人管家，24小时向您提供贴心服务，更具有专业性，为您解决旅行中遇见的各种疑难杂症。
”</div>


                    </div>
                  </div>
                  <h3>私人旅行规划师<span>2017.01.05</span></h3>
                </a>

              </div>
            </div> -->
