<div class="row">
  <div class="foot_img">
  </div>
</div>

  <div class="wrap" style="margin-top: 10px;margin-bottom: 50px">
    <br><br>

    <h2> 订单明细 </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">商品明细</th>
          <th>单价</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>

        <% @product_lists.each do |product_list| %>
          <tr>
            <td>
              <%= product_list.product_name %>
            </td>
            <td>
              成人：<%= product_list.product_price %>
              <br>
              儿童：<%= product_list.child_price %>
            </td>
            <td>
              成人：<%= product_list.quantity %>
              <br>
              儿童：<%= product_list.child_quantity %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        总计 <%= @order.total %> CNY
      </span>
    </div>

     <hr>

     <h2> 寄送资讯 </h2>

     <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            订购人
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.billing_name %> - <%= @order.billing_address %>
          </td>
        </tr>
        <tr>
          <td>
            收件人
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.shipping_name %> - <%= @order.shipping_address %>
          </td>
        </tr>
      </tbody>
    </table>

    <hr/>

    <div>
      <% if @order.trip_cancelled? %>
        <!-- 行程取消之后不能再出现申请取消订单及付款的按钮 -->
        <p class="text-center">此订单已取消</p>
      <% elsif @order.trip_ended? %>
        <!-- 行程结束之后在order_show页面明确显示 -->
        <p class="text-center">此行程已结束</p>
      <% else %>
        <!-- 在已下单、已付款及已预订三种情况下可以申请取消订单 -->
        <div class="pull-left">
          <% if @order.order_placed? || @order.paid? || @order.reserved? %>
            <%= link_to("申请取消订单", apply_to_cancel_order_path(@order.token), method: :post, class: "btn btn-info") %>
          <% end %>
        </div>
        <!-- 未付款则显示两种付款方式按钮，已付款则在order_show页面明确显示 -->
        <% if !@order.is_paid? %>
          <div class="pull-right">
            <%= link_to("以支付宝支付", pay_with_alipay_order_path(@order.token), :method => :post, :class => "btn btn-danger") %>
            <%= link_to("以微信支付", pay_with_wechat_order_path(@order.token), :method => :post, :class => "btn btn-danger") %>
          </div>
        <% else %>
          <p class="text-center">此订单已完成付款</p>
        <% end %>
      <% end %>
    </div>


  </div>
