<div class="col-md-4 col-md-offset-4">
    <h2>编辑商品</h2>
    <hr>
    <%= simple_form_for [:admin,@product] do |f| %>
      <div class="form-group">
        <%= f.input :title, input_html: { class: "form-control"}, :label => "品名" %>
        <%= f.input :description, input_html: { class: "form-control"}, :label => "描述" %>
        <%= f.input :destination, input_html: { class: "form-control"}, :label => "目的地" %>
        <%= f.input :day, input_html: { class: "form-control"}, :label => "游玩天数-早" %>
        <%= f.input :night, input_html: { class: "form-control"}, :label => "游玩天数-晚" %>
        <%= f.input :price, input_html: { class: "form-control"}, :label => "成人价格" %>
        <%= f.input :quantity, input_html: { class: "form-control"}, :label => "成人库存" %>
        <%= f.input :child_price, input_html: { class: "form-control"}, :label => "儿童价格" %>
        <%= f.input :child_quantity, input_html: { class: "form-control"}, :label => "儿童库存" %>

        <% if @product.photos.present? %>
          <span>目前商品图</span><br>
          <% @product.photos.each do |p| %>
            <%= image_tag(p.avatar.thumb.url) %><br>
          <% end %>
        <% end %>
        <div class="group">
          <%= f.label :avatar %><br>
          <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
        </div>
        <%= select_tag(:category_id, options_for_select(@categories), :prompt => "目的地") %>
      </div>
      <%= f.submit "submit product", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
    <% end %>
</div>
