<div class="col-md-12">
  <div class="product">
    <%= link_to("Edit", edit_admin_product_path(@product), class: "btn btn-primary pull-right")%>
  </div>
  <br/><br/><br/>
  <!-- 图片区 -->
  <div class="col-sm-8">
    <% if @photos.present? %>
      <!-- 用each_with_index记录，第一张图片(index ==0)显示大图，其余显示小图(thumb) -->
      <% @photos.each_with_index do |p, index| %>
        <% if index == 0 %>
          <%= image_tag(p.avatar.medium.url, class: "thumbnail") %>
        <div style="letter-spacing: -8px">
        <% else %>
          <%= image_tag(p.avatar.small.url) %>
        <% end %>
        </div>
      <% end %>
    <% else %>
    <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
   <% end %>
  </div>
  <!-- 商品描述区 -->
  <div class="col-sm-3">
    <h2><%= @product.title %></h2>
    <p>描述：<%= @product.description %></p>
    <p>价格：<%= @product.price %></p>
    <p>库存：<%= @product.quantity %></p>
  </div>
</div>
