<!DOCTYPE html>
<html lang="en">
  <head>
    <title>寻踏水的痕迹</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <br/><br/><br/>
  </head>
  <body>
    <!-- 图片区 -->
    <div class='col-xs-12 col-md-8'>
    <% if @photos.present? %>
       <div class="tab-content clear-fix">
         <% @photos.each_with_index do |p,index| %>
           <% if index <4 %>
            <div class= "tab-pane <%= render_active(index) %>" id="<%= index %>">
              <%= image_tag(p.avatar.medium.url, class: "thumbnail") %>
            </div>
           <% end %>
         <% end %>
       </div>

       <ul class="nav nav-tabs">
         <% @photos.each_with_index do |p,index| %>
           <% if index <4 %>
             <li>
               <a href="#<%= index %>" data-toggle="tab"><%= image_tag(p.avatar.small.url) %></a>
             </li>
           <% end %>
         <% end %>
       </ul>
      <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class:"thumbnail") %>
      <% end %>
    </div>
    <!-- 商品描述区 -->
    <div class="col-md-4">
      <div class="group">
        <%= link_to("编辑", edit_admin_product_path(@product), class: "btn btn-primary btn-sm pull-right")%>
      </div>
      <h2> <%= @product.title %> </h2>
      <div style="height:100px;">
        <p>
          <%= @product.description %>
        </p>
      </div>
      <div> 数量 : <%= @product.quantity %> </div>
      <div class="product-price"> ￥ <%= @product.price %> </div>
    </div>

  </body>
</html>
