<div class="showbackground">
  <img src="http://oqjdhoq9e.bkt.clouddn.com/%E5%A4%B4%E5%9B%BE%E9%80%89%E5%AE%9A.jpg" style="height:250px;width:100%;">
</div>
<br>

<div class="body_bg">
  <div class="wrap">
    <% @products.each do |product| %>
      <div class="col-xs-6 col-md-3 product-list-style">
        <%= link_to product_path(product) do %>
          <% if product.photos.present? %>
            <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
        <% end %>
        <div style="height:50px;">
        <%= product.title %>   <i class="fa fa-jpy" aria-hidden="true"></i>:<%= product.price %>
      </div>
      </div>
    <% end %>
  </div>
</div>
