<div class="row">
    <!-- 图片区 -->
    <div class="col-sm-6">
      <!-- <p><%= image_tag @product.image_url(:medium) if @product.image.present? %> </p> -->
      <%= if @photos.present? %>
        <!-- 用each_with_index记录，第一张图片(index ==0)显示大图，其余显示小图(thumb) -->
        <% @photos.each_with_index do |p, index| %>
          <% if index == 0 %>
            <%= image_tag(p.avatar.medium.url, class: "thumbnail") %>
          <div style="letter-spacing: -8px">
          <% else %>
            <%= image_tag(p.avatar.thumb.url) %>
          <% end %>
          </div>
        <% end %>
      <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
     <% end %>
    </div>
    <!-- 商品描述，加入购物车功能区 -->
    <div class="col-sm-6">
      <h2><%= @product.title %></h2>
      <div style="height:100px;">
        <p>
          <%= @product.description %>
        </P>
      </div>
      <div> 数量 ：<%= @product.quantity %></div>
      <div class="product-price"> <i class="fa fa-jpy" aria-hidden="true"> </i><%= @product.price %></div>
      <div class="pull-right">
        <% if @product.quantity.present? && @product.quantity >0 %>
          <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-lg btn-danger") %>
        <% else %>
          已销售一空，无法购买
        <% end %>
      </div>
    </div>

  </div>
