
<div class="showbackground">
  <img src="http://oqjdhoq9e.bkt.clouddn.com/%E5%A4%B4%E5%9B%BE%E9%80%89%E5%AE%9A.jpg" style="height:250px;width:100%;">
</div>

<!--页面最外层背景  开始-->
<div class="body_bg">
  <!--页面主体内容  开始-->
  <div class="wrap">
    <!--首屏产品介绍模块  开始-->
    <div class="detail_top_all clearfix">
    <h1 class="detail_product_tit">
    	<b>【<%= @product.category.name %>】  <%= @product.title %></b>
      <span class="tags-lv-boon js_tip" tip-content="酒店经济又实惠，省力省钱"><i></i></span>
    </h1>


      <div class="class="product_top_box clearfix"">
      <!-- 图片区 开始 -->
      <div class="product_top_l">
        <span class="product_top_type product_type_zyx">自由行</span>
        <% if @photos.present? %>
           <div class="tab-content clear-fix">
             <% @photos.each_with_index do |p,index| %>
               <% if index <4 %>
                <div class= "tab-pane <%= render_active(index) %>" id="<%= index %>">
                  <%= image_tag(p.avatar.medium.url, class: "thumbnail") %>
                </div>
               <% end %>
             <% end %>
           </div>

           <ul class="nav nav-tabs pull-left">
             <% @photos.each_with_index do |p,index| %>
               <% if index <4 %>
                 <li>
                   <a href="#<%= index %>" data-toggle="tab"><%= image_tag(p.avatar.small.url) %></a>
                 </li>
               <% end %>
             <% end %>
           </ul>
        <% else %>
            <%= image_tag("http://placehold.it/400x400&text=No Pic") %>
        <% end %>
      </div>
      <!-- 图片区 结束 -->

      <!-- 商品描述区 开始 -->
      <div class="product_top_r">
        <!-- 价格列表 -->
        <div class="product_top_price_box">
          <p class="product_top_price">
          <span class="price_num">￥
            <dfn>
              <%= @product.price %>
            </dfn>
          </span> 起 / 人
          </p>
          <p class="product_top_dp">
            <span>100%</span>好评率
          </p>
        </div>
        <!-- 优惠列表 -->
        <dl class="product_info">
          <dt>优  惠：</dt>
          <dd>
            <span class="tags101" tip-content="预订此产品，游玩后发表点评，内容通过审核，即可获得约40元奖金。最终返奖金额，以实际订单产生的奖金额为准。">点评返现</span>
            <span class="tags101" tip-content="从2014年12月08日起到2017年12月31日发表订单游记，审核通过即返20.00元，精华游记即返100.00元。更多精彩活动请查看游记频道。">游记返现</span>
          </dd>
        </dl>

        <div class="product_info_hr"></div>
        <!-- 目的地列表 -->
        <dl class="product_info">
          <dt>目&nbsp;&nbsp;的&nbsp;&nbsp;地：</dt>
          <dd><%= @product.destination %></dd>
        </dl>
        <!-- 游玩天数列表 -->
        <dl class="product_info">
          <dt>游玩天数：</dt>
          <dd><%= @product.day %>天<%= @product.night %>晚</dd>
        </dl>
        <!-- 交通工具列表 -->
        <dl class="product_info">
          <dt>往返交通：</dt>
          <dd>
            <span>去程-飞机 返程-飞机</span>
          </dd>
        </dl>
        <!-- 项目列表 -->
        <dl class="product_info">
          <dt>包含项目：</dt>
          <dd> 酒店、飞机</dd>
        </dl>
              <!-- 下单模块 -->
      <div class="product_top_booking">
        <dl class="product_info">
        <dt>出游人数：</dt>
          <dd>
            <div class="product_info_number">

                <%= simple_form_for @product, method: :post, url: add_to_cart_product_path(@product) do |f| %>
                 <div class="buy-quantity">
                  <%= link_to("-", "", id: "quantity-minus", class: "quantity-minus btn btn-default disabled") %>
                  <%= f.input_field "", name: "quantity", value: '1', id: "quantity-input", class: "quantity-input" %>
                  <%= link_to("+", "", id: "quantity-plus", class: "quantity-plus btn btn-default #{@product.quantity <= 1 ? 'disabled' : ''}") %>
                  <span class="c_999">成人</span>
                 </div>

                 <div class="buy-quantity">
                  <%= link_to("-", "", id: "quantity-minus", class: "quantity-minus btn btn-default disabled") %>
                  <%= f.input_field "", name: "child-quantity", value: '0', id: "quantity-input", class: "quantity-input" %>
                  <%= link_to("+", "", id: "quantity-plus", class: "quantity-plus btn btn-default #{@product.quantity <= 0 ? 'disabled' : ''}") %>
                  <span class="c_999">儿童</span>
                 </div>

                 <% if @product.quantity.present? && @product.quantity >0 %>
                   <button type="submit" class="btn btn-xl btn-orange pull-left <%= @product.quantity == 0 ? 'disabled' : '' %>">
                     加入购物车
                   </button>
                 <% else %>
                   已销售一空，无法购买
                 <% end %>

               <span class="favorites ">
                 <% if current_user && current_user.already_favorite?(@product) %>
                   <%= link_to(content_tag(:i, '已收藏', class: 'fa fa-star'), favorite_product_path(@product, type:"unfavorite"), method: :put) %>
                 <% else %>
                   <%= link_to(content_tag(:i, '收藏', class: 'fa fa-star-o'), favorite_product_path(@product, type:"favorite"), method: :put) %>
                 <% end %>
               </span>

                <% end %>
            </div>
          </dd>
        </dl>
      </div>
    </div><!-- 商品描述区 结束 -->
  </div>
  </div><!--首屏产品介绍模块 结束 -->
    <!-- 产品详细介绍页面   开始-->
    <div class="detail_content">
      <ul class="nav nav-tabs">
          <li data-flag="product-detail" class="active"><a href="#details" data-toggle="tab" hidefocus="false">产品详情</a></li>
          <li data-flag="product-customer-review" ><a href="#comments" data-toggle="tab" hidefocus="false">旅星人点评<span class="float_nav_num">(<%= @product.comments.count %>)</span></a></li>
          <li data-flag="product-customer-trip"><a href="#notes" data-toggle="tab" hidefocus="false">听旅星人说<span class="float_nav_num" id="travelCount">(0)</span></a></li>
      </ul>

      <div class="tab-content">

      <div id="details" class="tab-pane fade in active">
        <!-- 产品详情模块  开始 -->
        <div class="product-detail-instance productDetailsbox" id="product-detail">
          <div class="detail_content_tit">
              <span>
                <i class="fa fa-plane detail_icon" aria-hidden="true"></i>
                产品详情
              </span>
          </div>
          <!--产品概要-->
          <div class="product-summary">
            <h5>产品概要</h5>
              <table border="1">
                <tr >
                  <td>含 <%= @product.night %>晚住宿</td>
                  <td>景点介绍</td>
                  <td>含 巴士、飞机</td>
                </tr>
                <tr>
                  <td>含 <%= @product.day %>早餐</td>
                  <td>项目介绍</td>
                  <td>含 自由活动5次</td>
                </tr>
              </table>
            </div><!-- 产品概要  结束-->
            <br><br><br><br><br><br><br>

          <!-- 景点介绍  开始 -->
          <div class="detail-instance-body">
            <span>
              <div style="margin: 0 auto;font-family:Microsoft Yahei,sans-serif;">
                  <div style="margin-bottom: 15px;padding-bottom: 10px;border-bottom: 1px solid #E3E3E3;">
                    <div style="font-size: 20px;color: #333;line-height: 20px;">
                      <span style="width: 88px;float: left;font-size: 20px;color: #333;line-height: 20px;">景点介绍</span>
                      <span style="display: inline-block;height: 20px;width: 200px;"></span>
                    </div>
                  </div>
                  <div style="font-size: 16px;color: #333;line-height: 24px;margin-bottom: 6px;"><%= @product.destination %> ：
                  </div>
                  <div style="font-size: 14px;line-height: 22px;color: #666;margin-bottom: 10px;"><%= @product.description %>
                    <br>
                  </div>
                  <div style="font-size: 0;  margin-bottom: 20px;">
                    <span style="width: 530px;height: 353px;margin-right: 20px;display: inline-block;"><%= image_tag(@product.photos[1].avatar.detail.url) %></span>
                    <span style="width: 530px;height: 353px;margin-right:0;display: inline-block;"><%= image_tag(@product.photos[2].avatar.detail.url) %></span>
                  </div>
                  <br>
              </div>
            </span>
          </div><!-- 景点介绍  结束 -->
        </div><!-- 产品详情模块  结束 -->
      </div>
      <!-- 评论模块  开始 -->
      <div id="comments" class="tab-pane fade">
        <div class="product-detail-instance xl_position_r" id="product-customer-review">
          <div class="comwrap">
            <!-- 点评 -->
            <div class="comment-list com-all" style="display:block" id="allCmtComment">
              <div class="detail_content_tit">
                  <span>
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    旅星人点评
                  </span>
              </div>
              <div class="comment-li" id="comments">
                <%= render @product.comments%>
                <%= render "comments/form"%>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div><!-- 评论模块  结束 -->
      <!-- 攻略模块  开始 -->
      <div id="notes" class="tab-pane fade">
        <div class="detail_content_tit">
            <span>
              <i class="fa fa-camera" aria-hidden="true"></i>
              听旅星人说
            </span>
        </div>
        <br><br><br><br>
        <div class="text-center" style="height:100px;">
          <h3>听旅星人说即将上线，敬请期待...</h3>
        </div>
      </div><!-- 攻略模块  结束 -->
    </div>
    </div><!-- 产品详细介绍页面   结束-->
  </div><!--页面主体内容  结束-->
</div><!--页面最外层背景  结束-->
