<!DOCTYPE html>
<html>
<br>

<span class="color_15"><span style="text-transform:uppercase;">寻踏水的痕迹</span></span>
<div class="pull-right">
<a href="https://fullstack.xinshengdaxue.com/posts/1119" >
<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
</a>
</div>
<br>
<br>


  <head>
    <title>寻踏水的痕迹</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
      </div>
        <%= render "common/flashes" %>
        <%= yield %>
    </div>

    <%= render "common/footer" %>
  </body>
</html>
